<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
	{{ if .Data.Singular }}
    <meta name="robots" content="noindex">
	{{ end }}
	<link rel="icon" href="/images/me.gif" type="image/gif" >
	<title>{{ .Title }}</title>
	{{ with .Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Author }}<meta name="author" content="{{ . }}">{{ end }}
	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}

</head>
<body>
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
    {{ if .Params.katex}}{{ partial "katex.html" . }}{{ end }}
</body>
</html>
