.icon {
    width: 32px;
}

.mr-1 {
    margin-right: 0.5em;
}
.mb-1 {
    margin-bottom: 0.5em;
}

.single-image {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    width: 100%;
    min-height: 180px;
    background-image: url("/images/banner_430.jpg");
    padding: 1em 0em 2em 0;
}

@media (min-width: 430px){
    .banner{
    background-image: url("/images/banner.jpg");
}
}