
@font-face {
    font-display: swap;
    font-family: 'pt_sansregular';
    src: url('/fonts/ptsans-regular-webfont.woff2') format('woff2'), url('/fonts/ptsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    position: relative;
    scroll-behavior: smooth;
    height: 100%;
    box-sizing: border-box;
    font-size: 1.2rem;
}

body {
    min-height: 100%;
    flex-direction: column;
    font-family: pt_sansregular, Candara, Arial, Helvetica, sans-serif;
    word-spacing: 0.2em;
    line-height: 1.46;
    margin: 0em;
}

footer {
    flex-shrink: 0;
    color: white;
    background-color: black;
    width: 100%;
    min-height: 60px;
    margin: 0 auto;
    margin-top: 1em;
}

footer p {
    margin: 0;
}

footer a,
header a {
    color: white;
    text-decoration: none;
    border-bottom: none;
}

a {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid purple;
    transition: border-width 0.4s linear;
}

a:hover {
    cursor: pointer;
    border-bottom-width: 5px; 
}

.scale-sm:hover {
    transform-origin: center;
    transform: scale(1.05);
    transition: transform 0.1s;
}

.scale-left-sm:hover {
    transform-origin: left;
    transform: scale(1.1);
    transition: transform 0.1s;
}

header {
    flex-shrink: 0;
    color: white;
    background-color: black;
    width: 100%;
}

.header-black {
    padding: 1em 0em;
}

.header-white,
.header-white a {
    color: black;
    background-color: transparent;
}

.content {
    max-width: 680px;
    padding-left: 15px;
    padding-right: 15px;
}

article {
    max-width: 680px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.read-progress {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}


/* The progress container (grey background) */

.read-progress-container {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    width: 100%;
    height: 6px;
}


/* The progress bar (scroll indicator) */

.read-progress-container .progress-bar {
    height: 6px;
    background: purple;
    width: 0%;
}

.single-image {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

.container {
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 568px) {
    .container {
        width: 550px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1280px) {
    .container {
        width: 1170px;
    }
}

/* Home page grid for cards */
.home__card-grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 568px) {
    .home__card-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 768px) {
    .home__card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .home__card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Home header */
.home__header-mypic-title-grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 64px auto;
} 


.home__header-grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
} 


@media (min-width: 768px) {
    .home__header-grid {
        grid-template-columns: 5fr 3fr;
    }
}

/* Footer grid */
.home__footer-grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
} 


@media (min-width: 768px) {
    .home__footer-grid {
        grid-template-columns: 1fr 1fr;
    }
}

.mypic {
    display: block;
    border-radius: 50%;
}

.overlay-top {
    padding-top: 0.5em;
    margin-top: -7em;
    background-color: white;
    box-shadow: 0px 0px 5px white;
}
@media (max-width: 568px) {
    .overlay-top {
        margin-top: 0;
    }
}

.banner {
    width: 100%;
    min-height: 180px;
    background-image: url("/images/banner_430.jpg");
    background-size: cover;
    padding: 1em 0em 2em 0;
}

@media (min-width: 430px){
    .banner{
    background-image: url("/images/banner.jpg");
}
}

.display-flex {
    display: flex;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.flex-grow0 {
    flex-grow: 0;
}

.flex-grow1 {
    flex-grow: 1;
}

/* Apply to wrapper to horizontal-vertical center the child*/
.center{
        display: flex;
        justify-content: center;
        align-items: center;
}

@media (min-width: 768px) {
    .justify-md-end {
        justify-content: flex-end;
    }
}

.flex-column {
    flex-direction: column;
}

.mr-1 {
    margin-right: 0.5em;
}

.text-white {
    color: white;
}

.text-center {
    text-align: center;
}



.thumbnail-post {
    width: 100%;
}

.card {
    
    border-radius: 5px;
}

.card img:hover {
    filter: saturate(180%);
    transition: filter 0.3s;
}

.card-content {
    padding: 0em 1em 1em 1em;
    line-height: 1;
}

.card-image-container {
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}



.card-title {
    color: black;
    text-decoration: none;
    border-bottom: none;
}

.summary {
    color: rgb(102, 102, 102);
    line-height: 1.2;
}

time {
    color: purple;
}

.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .btn_white {
    background-color: white;
    color: purple;
    border: 2px solid #555555;
  }
  
  .btn_white:hover {
    background-color: #555555;
    color: white;
  }
  
.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-shadow-1 {
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    ;
}

.border-0 {
    border:0px;
    border-bottom: 1px solid gray;
}
.border-bottom-0 {
    border-bottom: none;
}
.m-0 {
    margin: 0px;
}

.my-1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.my-2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.my-4 {
    margin-top: 2em;
    margin-bottom: 2em;
}

.mb-1 {
    margin-bottom: 0.5em;
}
.mb-2 {
    margin-bottom: 1em;
}
.mt-1 {
    margin-top: 0.5em;
}
.mt-2 {
    margin-top: 1em;
}

.mr-1 {
    margin-right: 0.5em;
}

.ml-1 {
    margin-left: 0.5em;
}

.font-small{
    font-size: 0.75rem;
}
.font-very-small{
    font-size: 0.5rem;
}

.text-backdrop{
    backdrop-filter: blur(5px) brightness(0.8);
}

.icon {
    width: 32px;
}
.blur{
-webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(5px);
}

pre {
    border-radius: 5px;
    font-size: 0.9rem;
    overflow: auto;
    max-height: 600px;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

code {
    font-family: monospace, "Lucida Console", Monaco;
}

:not(pre)>code {
    color: purple;
    font-size: 0.9rem;
    background-color: rgb(223, 220, 136);
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
}

.nedia {
    visibility: hidden;
    height: 0;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    text-align: left;
}

@media screen and (max-width: 1024px) {
    .hide-on-mobile {
        display: none !important;
    }
}
@media screen and (max-width: 568px) {
    .hide-on-sm {
        display: none !important;
    }
}
@media screen and (min-width: 768px) {
    .hide-on-md {
        display: none !important;
    }
}

@media only screen and (min-width: 1025px) {
    .article-nav {
        display: grid;
        grid-template-columns: 1fr 15em;
        max-width: 100em;
        width: 90%;
        margin: 0 auto;
    }
}

nav {
    position: sticky;
    top: 2rem;
    align-self: start;
}


/* 3. ScrollSpy active styles (see JS tab for activation) */

.section-nav li.active>a {
    color: purple;
    font-weight: 600;
}


/* Sidebar Navigation */

.section-nav {
    font-size: smaller;
    padding-left: 0;
    border-left: 2px solid #efefef;
}

.section-nav a {
    text-decoration: none;
    border-bottom: none;
    display: block;
    padding: .125rem 0;
    color: #ccc;
    transition: all 50ms ease-in-out;
    /* 💡 This small transition makes setting of the active state smooth */
}

.section-nav a:hover,
.section-nav a:focus {
    color: #666;
    font-weight: 600;
}

nav>ul,
ol {
    list-style: none;
    margin: 1rem;
    padding: 0;
}

nav>li {
    margin-left: 1rem;
}


/* width */

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: purple;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: purple;
}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
  }

.article-image {
    max-width:100%; 
    height:auto;
}

/* Home page header category links */
.wrapper-categories {
    display: grid;
    background-color: #fff;
    color: #444;
    
    overflow:hidden;
  }

  @media (min-width: 0px) {
    .wrapper-categories {
        grid-template-columns: repeat(2, auto);
    }
}
@media (min-width: 250px) {
    .wrapper-categories {
        grid-template-columns: repeat(3, auto);
    }
}
@media (min-width: 768px) {
    .wrapper-categories {
        grid-template-columns: repeat(6, auto);
    }
}

  .category-link{
      
      text-decoration: none;
      border: 2px solid transparent;
      text-align: center;
    color: black;
    font-size:1.0em;
    text-transform: uppercase;
    font-weight: 700;
  }

  .category-link:hover{
    color: purple;
    border: 2px solid purple;
  }
  
  
  /* Category cards */
  .wrapper-cat-cards {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: row dense;
  }

  .catcard-span1{
    grid-column: span 1;
  }
  .catcard-span2{
    grid-column: span 2;
  }

  .catcard-rowspan2{
    grid-row: span 2;
  }
  @media (max-width: 1024px) {
    .wrapper-cat-cards {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 768px) {
    .wrapper-cat-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 568px) {
    .wrapper-cat-cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .catcard-span2{
        grid-column: span 1;
      }
    
      .catcard-rowspan2{
        grid-row: span 1;
      }
}
  

  .cat-card{
     
  }
  
  .cat-card-content {
    line-height: 1;
    padding: 1em;
  }
  .cat-card-image-container{
    max-height: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    background-size: 0px 0px;
  }
  .cat-thumbnail-post{
    object-fit: cover;
    max-height: 150px;
    width: 100%;
  }
  .cat-card-title{
    color: black;
    text-decoration: none;
    border-bottom: none;
    margin:0;
    margin-bottom: 1rem;
  }
  .cat-summary{
    color: rgb(102, 102, 102);
    line-height: 1.2;
  }

  .cat-background{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (max-width: 568px) {
    .cat-card {
        display: grid;
        grid-template-columns: 6rem auto;
    }
    .cat-card-content {
        padding: 0.4rem;
      }
      .cat-card-image-container{
        max-height: 100%;
        overflow: hidden;
        border-radius: 5px 0px 0px 5px;
        height: 100%;
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
      }
     .cat-thumbnail-post{
        width: auto;
      }
      .cat-card-title{
        margin-bottom: 0;
      }
    
  }

  .katex { font-size: 1.1em !important; } 
  /**/