<div class="wrapper-categories">
        <a class="category-link" href="/categories/c++/" title="C++">C++</a>        
        <a class="category-link" href="/categories/net/" title=".Net">.Net</a>
        <a class="category-link" href="/categories/design/" title="Design">Design</a>
        <a class="category-link" href="/categories/algorithms/" title="Algorithms">Algorithms</a>
        <a class="category-link" href="/categories/html/" title="Html">Html</a>
        <a class="category-link" href="/categories/diverse/" title="Diverse">Diverse</a>
</div>
<hr class="m-0 border-0">