
{{ $path := .context.Params.image}}
{{ $img := resources.GetMatch $path}}
{{ if not $img  }}
    {{$img =  resources.GetMatch "images/bird.jpg" }}
{{end}}
{{$imageQuality:= "q70"}}
{{$imageAnchor:= "Smart"}}
{{if .Params.imageQuality}}
	{{$imageQuality = .Params.imageQuality}}	
{{end}}
{{if .context.Params.imageAnchor}}
	{{$imageAnchor = .context.Params.imageAnchor}}	
{{end}}

{{$options_v := printf "%s%s%s%s" "230x530 " $imageQuality " " $imageAnchor}}
{{$options_h := printf "%s%s%s%s" "470x150 " $imageQuality " " $imageAnchor}}
{{$options := printf "%s%s%s%s" "230x130 " $imageQuality " " $imageAnchor}}





{{ $c :=""}}

{{ if or (eq .index .v1) (eq .index .v2)}}
{{$img_v := $img.Fill $options_v}}
    <div class="catcard-rowspan2 shadow cat-background" 
        style="
        background-image: url('{{$img_v.Permalink}}');
        display: flex; align-items: flex-end; justify-content: center;" >
        <div class="cat-card-content text-backdrop">
            <p class="m-0 mb-1"><a class="cat-card-title" style="color: white;" href="{{ .context.Permalink }}">{{ .context.Title }}</a></h3>
            <p class="font-small m0" style="color: white;">{{ .context.Date.Format "02 Jan 2006" }}</span>
        </div>
    </div>
{{else if or (eq .index .h1) (eq .index .h2) }}
{{$img_h := $img.Fill $options_h}}
    <div class="catcard-span2 shadow cat-background" >
    <div class="cat-card">
    <div class="cat-card-image-container " style="background-image: url('{{$img_h.Permalink}}');">
        <a class="border-bottom-0 hide-on-sm" href="{{ .context.Permalink }}">
            <img src="{{$img_h.Permalink}}" class="cat-thumbnail-post" />
        </a>
    </div>
    <div class="cat-card-content">
        <h4 class="m-0"><a class="cat-card-title" href="{{ .context.Permalink }}">{{ .context.Title }}</a></h3>
        <span class="font-small" style="color: purple;">{{ .context.Date.Format "02 Jan 2006" }}</span>
    </div>
    </div>
</div>
{{else}}
{{$img := $img.Fill $options}}
<div class="catcard-span1 shadow cat-background" >
    <div class="cat-card">
    <div class="cat-card-image-container " style="background-image: url('{{$img.Permalink}}');">
        <a class="border-bottom-0 hide-on-sm" href="{{ .context.Permalink }}">
            <img src="{{$img.Permalink}}" class="cat-thumbnail-post" />
        </a>
    </div>
    <div class="cat-card-content">
        <h4 class="m-0"><a class="cat-card-title" href="{{ .context.Permalink }}">{{ .context.Title }}</a></h3>
        <span class="font-small" style="color: purple;">{{ .context.Date.Format "02 Jan 2006" }}</span>
    </div>
    </div>
</div>
{{end}}

