<footer>
    <div class="container home__footer-grid">
	<div class=" my-2">
	<form name="Subscription" method="POST" data-netlify="true" netlify-honeypot="ahani" action="/pages/sub-success">
		<p class="nedia">
		  <label> Name <input name="ahani" /></label>
		</p>
		<p><label for="emailinput">Subscribe so I notify you of new posts</label></p>
		<p class="display-flex">
		  <input id="emailinput" style="width: 18em;" class="mr-1" type="email" name="email" placeholder=" Email"/>
		  <button type="submit">Subscribe</button>
		</p>
	</form>
</div>
<div class="my-1 display-flex justify-start justify-md-end align-center">
	<p>Copyright &copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}">{{ .Site.Params.myname }}</a></p>
</div>
</div>
</footer>



