
{{ $path := .Params.image}}
{{ $img := resources.GetMatch $path}}
{{ if not $img  }}
	{{$img =  resources.GetMatch "images/bird.jpg" }}
{{end}}
{{$imageQuality:= "q70"}}
{{$imagAnchor := "Smart"}}
{{if .Params.imageQuality}}
	{{$imageQuality = .Params.imageQuality}}	
{{end}}
{{if .Params.imageAnchor}}
		{{$imagAnchor = .Params.imageAnchor}}
{{end}}
{{$options := printf "%s%s" "350x200 " $imageQuality}}
{{$img = $img.Fill $options}}



<div>
	<div class="card shadow">
		<div class="card-image-container">
			<a href="{{ .Permalink }}" class="border-bottom-0">
				<img src="{{$img.Permalink}}" class="thumbnail-post" />
			</a>
		</div>
		<div class="card-content">
			<h3 class="m-0 mb-1 "><a class="card-title" href="{{ .Permalink }}">{{ .Title }}</a></h3>
			<time>{{ .Date.Format "02 Jan 2006" }}</time>
			<div>
				<div class="summary mb-1">
					{{ .Summary }}
				</div>
				<a href="{{ .Permalink }}">Read more...</a>
			</div>
		</div>
	</div>
</div>