{{ define "main" }}
    <main aria-role="main">
		{{ partial "headerhome" . }}
		<hr class="hide-on-md"/>
		{{ partial "categorylinks" .}}
	
		<div class="banner mb-2 flex-column justify-start text-center">
			<div class="container">
				<h2 class="text-white m-0">Welcome</h2>
				<h3 class="text-white m-0">I am a mathematical modeller, programmer, writer and teacher in Edinburgh, Scotland. I share my coding knowledge here.</h3>
			</div>
		</div>

      <div class="homepage-content">
        {{.Content}}
	  </div>
	  <div class="container">
      <div class="home__card-grid">
        {{ range (.Paginator 9).Pages }}
    			{{ .Render "summary" }}
    		{{ end }}
	  </div>
    {{ partial "pagination.html" . }}
	</div>
    </main>
{{ end }}
